@import '../../styles/colors.scss';

.bb-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: Gilroy Heavy, 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.6em;
  text-decoration: none;
  line-height: 2em;
  letter-spacing: 0.2em;
  padding: 1.5rem 3rem;
  border-radius: 4rem;
  border: solid $black 0.2rem;

  &:hover {
    background: $black;
    color: $white;
  }

  &.filled {
    background: $blue-1;
    color: $white;
    border: solid $blue-1 0.2rem;
    &:hover {
      background: $white;
      color: $blue-1;
    }
  }
}
